<!-- Service Start -->
<section class="py-6 py-md-8 bg-soft-primary" id="faqs">
    <div class="container-xxl service">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xxl-8 text-center mx-auto mb-5">
                    <h2>Got Questions? We've Got Answers!</h2>
                    <p class="mb-md-5">Answers to all your questions, guiding you to informed decisions effortlessly.
                    </p>
                </div>
            </div>
            <div class="row g-8 wow fadeInUp justify-content-center" data-wow-delay="0.3s">
                <div class="col-lg-4">
                    <div class="nav nav-pills d-flex justify-content-between w-100 h-100 me-4">
                        <button
                            class="nav-link w-100 d-flex align-items-center text-start border p-3 p-md-4 mb-4 active"
                            data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>What You Get?</h5>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start border p-3 p-md-4 mb-4"
                            data-bs-toggle="pill" data-bs-target="#tab-pane-2" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>How You Get, PDF?</h5>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start border p-3 p-md-4 mb-4"
                            data-bs-toggle="pill" data-bs-target="#tab-pane-3" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Want Refund?</h5>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start border p-3 p-md-4 mb-0"
                            data-bs-toggle="pill" data-bs-target="#tab-pane-4" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Is this Worth?</h5>
                        </button>
                    </div>
                </div>
                <div class="col-lg-8 mt-6 mt-md-8">
                    <div class="tab-content w-100">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <div class="row g-4">
                                <div class="">
                                    <h3 class="mb-4">You will get Clarity</h3>
                                    <p class="mb-4">We will provide you the PDF file, which will carry the visualized
                                        data which will be easy to understand. This will help you plan your trades and
                                        take better decisions.</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Market Trend</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Technical Levels</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Indian Market Performance</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Global Market Performance</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Market related News and it's impact
                                        for the day</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>FII data, Open Interest and PCR Data
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-2">
                            <div class="row g-4">
                                <div class="">
                                    <h3 class="mb-4">To get the PDF, Subscribe</h3>
                                    <p class="mb-4">Choose one of our Subscription Plan as per your choice and Start
                                        receiving your PDF</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>On your WhatsApp</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Mon - Fri <small>(except trading
                                            holidays)</small></p>
                                    <p>
                                        <i class="fa fa-check text-primary me-3"></i>Time: 8 AM to 8.15 AM
                                        <small>(in between)</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-3">
                            <div class="row g-4">
                                <div class="">
                                    <h3 class="mb-4">Sure, we have No Question Asked Refund Policy</h3>
                                    <p class="mb-4">You are eligible to get Full refund if you apply within 3 days from
                                        the Subscription Start Date</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Just drop your Refund request by
                                        clicking the below button</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Though we have No Question Asked
                                        Refund Policy, but would like you to provide feedback so that we can improve</p>
                                    <a href="" class="btn btn-primary py-3 px-5 mt-3">Initiate Refund</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-4">
                            <div class="row g-4">
                                <div class="">
                                    <h3 class="mb-4">Absolutely Yes!</h3>
                                    <p class="mb-4">Our subscription isn't just a service; it's your ticket to exploring the potential of becoming a more informed trader. Want to discover its true worth?</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Costs less than a daily cup of
                                        tea/coffee. <img src="assets/img/icons/tea-cup.png" height="38"
                                            style="vertical-align: text-bottom;" alt="Coffee Cup Symbol" /></p>
                                    <p>
                                        <i class="fa fa-check text-primary me-3"></i>Improves your stock trading – a
                                        small investment for big returns!
                                        <img src="assets/img/icons/money-bag.png" height="38"
                                            style="vertical-align: text-bottom;" alt="Money Bag Symbol" />
                                    </p>
                                    <p>
                                        <i class="fa fa-check text-primary me-3"></i>Keeps you informed, preventing
                                        losses due to unforeseen news and events.
                                        <img src="assets/img/icons/safe-money.png" height="38"
                                            style="vertical-align: text-bottom;" alt="Safe Money Symbol" />
                                    </p>
                                    <p class="mt-6">Still not Sure? Want to know More? Reach out to Us by clicking the
                                        below button</p>
                                    <a href="#contact" class="btn btn-primary py-3 px-5 mt-3">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service End -->