<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-6 py-md-8 bg-soft-primary" id="how-to-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xxl-6 text-center mx-auto mb-5">
                <h2>Don't know How to start?</h2>
                <p class="mb-md-5">3 Simple steps to start your Journey with us and become a logical trader</p>
            </div>
        </div>
        <div class="row h-100 how-it-works">
            <div class="col-md-4 mb-5 mb-md-0 h-100">
                <div class="card card-span bg-primary h-100">
                    <div class="step-head step-1">
                        <h5 class="text-light"><span>Step</span>01</h5>
                        <div class="triangle"></div>
                    </div>
                    <div class="card-body p-4 d-flex justify-content-center">
                        <div class="step-sub-title mb-3">Select Plan</div>
                        <div class="">
                            <img class="mb-4" src="assets/img/icons/rupee.png" height="80" alt="Indian Rupee Symbol" />
                        </div>
                        <p class="text-light">Select a subscription plan, make your payment, and kickstart your
                            subscription.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-5 mb-md-0 h-100">
                <div class="card bg-primary card-span h-100">
                    <div class="step-head step-2">
                        <h5 class="text-light"><span>Step</span>02</h5>
                        <div class="triangle"></div>
                    </div>
                    <div class="card-body p-4 d-flex justify-content-center">
                        <div class="step-sub-title mb-3">Get Access</div>
                        <div class="">
                            <img class="mb-4" src="assets/img/icons/whatsapp.png" height="80" alt="WhatsApp Logo" />
                        </div>
                        <p class="text-light">Exciting news! You're about to be added to our lively WhatsApp
                            Notification Community.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-5 mb-md-0 h-100">
                <div class="card card-span bg-primary h-100">
                    <div class="step-head step-3">
                        <h5 class="text-light"><span>Step</span>03</h5>
                    </div>
                    <div class="card-body p-4 d-flex justify-content-center">
                        <div class="step-sub-title mb-3">Receive PDF</div>
                        <div class="">
                            <img class="mb-4" src="assets/img/icons/pdf-file.png" height="80" alt="PDF File Symbol" />
                        </div>
                        <p class="text-light">After subscribing, you will begin to receive the PDF directly via
                            WhatsApp.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->